*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    /*  系统默认字体是 18px */
}
body{
    font-size: 1.2rem;
    min-width: 320px;
}
.clearfix::after{
    content: '';
    clear: both;
    /* 设置display block以后 下面的title就不用设置固定宽高 */
    display: block;
}

header {
    width: 100%;
}
header nav{
    padding: 0 1.5rem;
}
header .top{
    height: 3rem;
    line-height: 3rem;
    background: #333;
    color: #fff;
}
header .top p{
    display: inline-block;
}
header .top .word{
    float: right;
}
@media screen and (max-width: 420px){
    header .top .tel{
        display: none;
    }
}

header .title{
    background: #eee;
    /* height: 5rem; */
    line-height: 5rem;
}
header .title p{
    float: left;
    width: 10rem;
    height: 5rem;
}
header .title p img{
    width: 100%;
}
header .title ul{
    float: right;
}
header .title ul li {
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid #ccc;
    font-size: 1.6rem;
}
header .title ul li a{
    color: #000;
}
header .title ul li:last-child{
    /* 靠右的外边距为none */
    border-right: none;
}
@media screen and (max-width: 700px){
    header .title p{
        float: none;
        margin: 0 auto;
    }
    header .title ul{
        float: none;
        width: 100%;
        text-align: center;
    }
    header .title li{
        display: inline-block;
    }
    header .title li:nth-of-type(2){
        /* 小于700px的时候 第2个li不显示 */
        display: none;
    }
}
/* 当屏幕显示太小的时候 清除几个不重要的 或者可以把隐藏到一个下拉按钮下 方便点击而且不影响美观 */
@media screen and (max-width:420px) {
    header .title li:nth-of-type(1),
    header .title li:nth-of-type(2){
        display: none;
    }
}

/* 邓哥老婆 */
.main{
    width: 100%;
}
.main .main-top{
    width: 100%;
    background: #333;    
}
.main .main-top .main-top-cont{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    color: #fff;
}


/* top区域 */
.main .main-top .main-top-cont p{
    display: inline-block;
    padding: 10px;
}
.main .main-top .main-top-cont p span{
    display: inline-block;
    border-radius: 3px;
    box-shadow: -2px -1px 4px #000;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    text-align: center;
    background: #fff;
    color: #2d78f4;
}
.main .main-top .main-top-cont .more{
    float: right;
}
.mian .main-top .main-top-cont .more a{
    color: #fff;
}



/* 轮播图区域 */
.lbt {
    position: relative;
    margin-bottom: 30px;
}

.slider-list {
    width: 100%;
    height: 300px;
}

.slider-list .slider {
    position: relative;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 0 100px;
    background-size: cover;
    background-position: center;
}

.slider-list .slider:nth-of-type(1) {
    background-image: url('../img/bg-1.jpg');
}

.slider-list .slider:nth-of-type(2) {
    display: none;
    background-image: url('../img/bg-2.jpg');
}

.slider-list .slider:nth-of-type(3) {
    display: none;
    background-image: url('../img/bg-3.jpg');
}

.slider-list .slider .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.slider-list .slider .title p {
    font-size: 16px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.slider-list .slider:nth-of-type(1) .title p {
    font-size: 20px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
}

.slider-btn:after {
    content: '';
    clear: both;
}

.slider-btn .left-btn {
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    background-image: url('../img/left-btn.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.slider-btn .right-btn {
    float: right;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-image: url('../img/right-btn.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.slider-order {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.slider-order ul {
    display: inline-block;
}

.slider-order ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #666;
    margin-right: 20px;
}

.slider-order ul li:last-of-type {
    margin-right: 0;
}

.slider-order ul li.active {
    background: #fff;
}

@media screen and (max-width: 420px) {
    .slider-list {
        height: 200px;
    }
    .slider-list .slider {
        height: 200px;
    }
}


    /* 行业特色 */
.feature {
    /* 弹性盒子 */
    display: flex;
    /* 之间的间距自适应 */
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.feature .item{
     flex-grow: 1;
     margin-right: 2rem;
     width: 10rem;
     box-shadow: 0 0 4px #aaa;
}
.feature .item:last-child{
    margin-right: 0;
}
.feature .item h3{
    display: inline-block;
    font-size: 3rem;
    color: #2d78f4;
    vertical-align: middle;
    padding: 1rem;
}
.feature .item p{
    display: inline-block;
    font-size: 1.6rem;
    color: #aaa;
    padding: 1rem 0;
    vertical-align: middle;
}
@media screen and (max-width: 700px) {
    .feature .item h3,
    .feature .item p{
        display: block;
        text-align: center;
    }   
}
@media screen and (max-width: 420px) {
    .feature{
        display: block;
    }
    .feature .item{
        width: 100%;
        margin-bottom: 1rem;
    }
    .feature .item h3,
    .feature .item p{
        display: inline-block;
        text-align: left;
    }
    .feature item h3{
        padding: 0 3rem;
    }
}

    /* 产品 */
.product{
    display: flex;
    width: 90%;
    margin: 2rem auto;
    box-shadow: 0 0 4px #ccc;
    border-top: 2px solid #2d78f4;
    background: #f5f9fa;
}
.product .pro-title{
    display: inline-block;
    width: 20%;
    text-align: center;
    color: #635c51;
}
.product .pro-title h2{
    margin-top: 5rem;
    font-size: 2.4rem;
}
.product .pro-title p{
    margin-top: 1rem;
}
.product .pro-cont{
    display: inline-block;
    width: 80%;
    background: #fff;
}
.product .pro-cont .pro-item{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 8rem;
}
.product .pro-cont .pro-item div{
    border-left: 1px solid #eee;
}
.product .pro-cont .pro-item .pro-item-title{
    width: 30%;
}
.product .pro-cont .pro-item .pro-item-title h3{
    text-align: center;
}
.product .pro-cont .pro-item .pro-item-info{
    width: 50%;
    font-size: 0;
}
.product .pro-cont .pro-item .pro-item-info p{
    font-size: 1.4rem;
    display: inline-block;
    width: 50%;
    text-align: center;
}
.product .pro-cont .pro-item .pro-item-info p span{
    font-size: 3rem;
    width: 100%;
    color: #2d78f4;
}
.product .pro-cont .pro-item .pro-item-info p span i{
    font-size: 1.2rem;
    color: #ccc;
}
.product .pro-cont .pro-item .buy{
    width: 20%;
}
.product .pro-cont .pro-item .buy a{
    display: block;
    width: 90%;
    margin: 2rem auto;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #2d78f4;
    border-radius: 5px;
}
@media screen and (max-width: 700px) {
    .product{
        display: block;
    }
    .product .pro-title{
        width: 100%
    }
    .product .pro-title h2{
        display: inline-block;
        margin: 2rem 0;
    }
    .product .pro-title p{
        display: inline-block;
    }
    .product .pro-cont{
        width: 100%;
    }
}
@media screen and (max-width: 420px) {
    .product .pro-cont .pro-item{
        flex-wrap: wrap;
    }
    .product .pro-cont .pro-item .buy{
        width: 100%;
        border-top: 1px solid #eee;
    }
    .product .pro-cont .pro-item .buy a{
        margin: 1rem auto;
    }
    .product .pro-cont .pro-item .pro-item-title{
        width: 30%;
    }
    .product .pro-cont .pro-item .pro-item-info{
        width: 60%;
    }
}



 /* .footer */

 .footer {
     width: 100%;
     border-top: 2px solid #ccc;
     padding: 3rem 0;
 }

 .footer .footer-cont {
     display: flex;
     width: 90%;
     margin: 0 auto;
 }

 .footer .footer-cont p {
     width: 20%;
     margin-right: 2rem;
 }

 .footer .footer-cont p img {
     width: 100%;
 }

 .footer .footer-cont ul {
     width: 20%;
     margin-right: 2rem;
 }

 .footer .footer-cont ul:last-child {
     margin-right: 0;
 }

 .footer .footer-cont ul li {
     font-size: 1.4rem;
     line-height: 2.4rem;
 }

 .footer .footer-cont ul li.title {
     font-size: 1.6rem;
     line-height: 3rem;
 }

 @media screen and (max-width: 700px) {
     .footer .footer-cont p {
         display: none;
     }
     .footer .footer-cont ul {
         width: 25%;
     }
     .footer .footer-cont ul li.title {
         font-size: 1.6rem;
     }
     .footer .footer-cont ul li {
         font-size: 1.4rem;
     }
 }

 @media screen and (max-width: 420px) {
     .footer .footer-cont ul li.title {
         font-size: 1.4rem;
     }
     .footer .footer-cont ul li {
         font-size: 1.2rem;
     }
 }

 footer {
     text-align: center;
     width: 100%;
     padding: 3rem 0;
     background: #eee;
     color: #aaa;
 }
